@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixin";

.header-container {
  @extend %flex;

  background-color: $navyBlue;
  padding: 0.2rem 1rem;
  height: 55px;

  img {
    @include width-height(40px, 40px);
    border-radius: 50%;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .active {
    color: rgb(223, 223, 203);
    text-decoration: underline;
  }

  .header-left {
    @extend %flex-center;
    width: 50%;
    gap: 16px;
    cursor: pointer;
  }

  .header-right {
    display: flex;
    text-align: center;
    justify-content: end;
    width: 50%;
    gap: 20px;
  }

  button {
    @extend %btn;
  }
}
